
@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="zxx">

@await Html.PartialAsync("/Views/UserLayoutPartial/HeadPartial.cshtml")
<body>
    <!--Header-->

    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">
                @await Html.PartialAsync("/Views/UserLayoutPartial/LogoPartial.cshtml")
                @await Html.PartialAsync("/Views/UserLayoutPartial/TopbarPartial.cshtml")
                @await Html.PartialAsync("/Views/UserLayoutPartial/SocialMediaPartial.cshtml")

            </div>
        </div>

        @await Html.PartialAsync("/Views/UserLayoutPartial/NavbarPartial.cshtml")
    </header>
    <!--//banner-->
    <!--/main-->
    @RenderBody()
    <!--//main-->
    <!--footer-->
    @await Html.PartialAsync("/Views/UserLayoutPartial/FooterPartial.cshtml")
    <!---->
    <!-- js -->
    <script src="~/CoreBlogTema/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--/ start-smoth-scrolling -->
    <script src="~/CoreBlogTema/js/move-top.js"></script>
    <script src="~/CoreBlogTema/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            /*
                                    var defaults = {
                                            containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear'
                                        };
                                    */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/CoreBlogTema/js/bootstrap.js"></script>


</body>

</html>
