﻿<div class="comment-top">
    <h4>Bir Yorum Bırakın.</h4>
    <div class="comment-bottom">
        <form method="post" asp-action="PartialAddComment" asp-controller="Comment">
            <input type="hidden" name="BlogID" value="@ViewBag.ID" />

            <input class="form-control" type="text" name="CommentUserName" placeholder="İsim Soyisim" required="">
            <input class="form-control" type="email" name="Email" placeholder="E-Posta" required="">

            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">

            <textarea class="form-control" name="CommentContent" placeholder="Yorumunuz..." required=""></textarea>

            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>
