
﻿<footer class="footer">
	<div class="container-fluid clearfix">
		<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
			© @DateTime.Now.Year  |  MYBlog Core 5.0 Blog Projesi  Tüm Haklar Saklıdır.
		</span>


	</div>
</footer>
