
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

 <div class="tech-btm">
     <h4>Mail Bültenine Abone Olun.</h4>
     <p>Teknoloji İncelemeleri ve Yazılım Rehberleri ve diğer blogları keşfedin.</p>
     <form method="post">
         <input type="email" id="txtmail" placeholder="E-Posta" name="Mail" required="">
         <input type="submit" id="btn" value="Abone Ol!">
     </form>
 </div>