@using EntityLayer.Concrete

@model List<Message2>
<li class="nav-item dropdown">
    <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <i class="mdi mdi-email-outline"></i>
        <span class="count-symbol bg-warning"></span>
    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
        <h6 class="p-3 mb-0">Mesajlar</h6>
        @foreach (var item in Model)
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
                <div class="preview-thumbnail">
                    <img src="@item.SenderUser.WriterImage" alt="image" class="profile-pic">
                </div>
                <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                    <h6 class="preview-subject ellipsis mb-1 font-weight-normal">@item.SenderUser.WriterName sana mesaj gönderdi.</h6>

                    @{
                        DateTime simdi = DateTime.Now;
                        TimeSpan fark = simdi.Subtract(item.MessageDate);
                        long saniye = (long)fark.TotalSeconds;

                        TimeSpan zaman = TimeSpan.FromSeconds(saniye);

                        int gun = zaman.Days;
                        int saat = zaman.Hours;
                        int dakika = zaman.Minutes;
                        int kalanSaniye = zaman.Seconds;
                    }

                    @if (gun != 0)
                    {
                        <p class="text-gray mb-0">
                            @gun gün @saat saat @dakika dakika @kalanSaniye saniye önce
                        </p>
                    }
                    else if (gun == 0 && saat != 0)
                    {
                        <p class="text-gray mb-0">
                            @saat saat @dakika dakika @kalanSaniye saniye önce
                        </p>
                    }
                    else if (gun == 0 && saat == 0 && dakika != 0)
                    {
                        <p class="text-gray mb-0">
                            @dakika dakika @kalanSaniye saniye önce
                        </p>
                    }
                    else
                    {
                        <p class="text-gray mb-0">
                            @kalanSaniye saniye önce
                        </p>
                    }
                </div>
            </a>
        }
        <div class="dropdown-divider"></div>
        <a href="/Message/InBox" class="btn btn-primary col-12 p-3 mb-0 text-center ">Tüm mesajları gör</a>
    </div>
</li>
