<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Bizim blog sitemiz, okuyucularımıza farklı kategorilerde zengin içerikler sunarak onların ilgi alanlarını genişletmeyi ve bilgi sahibi olmalarını sağlamayı hedefler. Her biri kendi alanında uzman olan yazarlarımızın kaleme aldığı yazılarla, okuyucularımıza değerli bilgiler sunarız. Ayrıca, seyahat, sağlık, teknoloji, kültür gibi farklı konularda da bilgi dolu yazılar paylaşırız. Okuyucularımızın hayatına katkı sağlamak en büyük amacımızdır.</p>
                <div class="read">
                    <a href="/About/Index/" class="btn btn-primary read-m">Hakkımızda Sayfasına Git!</a>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <div class="tech-btm">
                    <h3>Son Postlar</h3>

                        <div class="blog-grids row mb-4">
                            <div class="col-md-5 blog-grid-left">
                                <a href="/Blog/BlogReadAll/">
                                    <img src="" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="col-md-7 blog-grid-right">
                                <h5>
                                    @*<a href="/Blog/BlogReadAll/@item.BlogID">@item.BlogTitle </a>*@
                                </h5>
                                <div class="sub-meta">
                                    <span>
                                        <i class="far fa-clock"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
                ﻿<div class="tech-btm">
                    <img src="~/CoreBlogTema/images/banner1.jpg" class="img-fluid" alt="">
                </div>

                <div class="tech-btm">
                    <h4>Mail Bültenine Abone Olun.</h4>
                    <p>Teknoloji, yazılım ve diğer bloglar... </p>
                    <form method="post">
                        <input type="email" id="txtmail" placeholder="E-Posta" name="Mail" required="">
                        <input type="submit" id="btn" value="Abone Ol!">
                    </form>
                </div>
                <!-- //subscribe -->
            </div>
        </div>
        <!-- footer -->
        <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="#">
                                <i class="fab fa-google-plus-g"></i>
                                <span>Google+</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="#">
                                <i class="fab fa-pinterest-p"></i>
                                <span>Pinterest</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                ©@DateTime.Now.Year Weblog. Asp.Net Core 5.0 Proje Kampı. Tüm hakları saklıdır. | Design by
                <a href="#">Gamze Meryem KAYA</a>

            </div>
        </div>

        <!-- //footer -->


    </div>
</footer>
