﻿
﻿
<head>
    <title>Weblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/CoreBlogTema/web/css/bootstrap.css" rel="stylesheet" type='text/css' />
    <link href="~/CoreBlogTema/web/css/single.css" rel="stylesheet" />
    <link href="~/CoreBlogTema/web/css/jquery.desoslide.css" rel="stylesheet" />
    <link href="~/CoreBlogTema/web/css/style.css" rel="stylesheet" type='text/css' />
    <link href="~/CoreBlogTema/web/css/fontawesome-all.css" rel="stylesheet" />

    @*<link href="~/CoreBlogTema/css/bootstrap.css" rel='stylesheet' type='text/css' />*@
    @*<link rel="stylesheet" href="~/CoreBlogTema/css/single.css">
    <link rel="stylesheet" href="~/CoreBlogTema/css/jquery.desoslide.css">
    <link href="~/CoreBlogTema/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/CoreBlogTema/css/fontawesome-all.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-/oEkQkWNNj8syw1Ft7J/OtDZ0m0P8tXL+tmqk4UP4C4JW76Je8xyvROBh7SdJxgZV7T8/tvPjy+Py6blDjRl7g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>